<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie-edge" />
        <title>Lighthouse report  diff for {{ after_url }}</title>
        <meta name="description" content="Lighthouse report diff" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
    </head>
    <body>
        <h1>Lighthouse report diff</h1>
        <table>
            <tr>
                <th>Audit</th>
                <th>Before</th>
                <th>After</th>
            </tr>
            {% for audit in audits %}
                <tr>
                    <td>{{ audit.name }}</td>
                    <td>{{ audit.before }}</td>
                    <td>{{ audit.after }}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
